---
/**
 * Home Page
 * Entry point of the website. Assembles the Navbar and Hero section.
 */
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Home">
  <Navbar />
  <main>
    <Hero />
  </main>
</Layout>
